<% @articles.each do |article| %>
	<div class="col-md-4 col-sm-10">
		<div class="row relative auto-height large-margin-bottom box-shadow">



			<div class="col-md-12 col-sm-12 relative no-padding">
				<div class="article-height left block full article-cover-height" style="background: rgba(0,0,0,0.4);">
				</div>

				<div class="no-repeat full article-cover-height background-center" style="background: url(<%= article.cover %>); background-position: center; background-repeat: no-repeat;">
				</div>
			</div>

			<div class="col-md-12 col-sm-12 padding-to-article center-text white">
				<h2>
					<%= link_to article.title, article %>
				</h2>
				<div>
					<%= truncate(article.body.html_safe, length:30, class:"right") %>
				</div>
			</div>

		</div>
	</div>
<%end%>