<% if @articles.any? %>
	<h2 class="center-text large-margin-bottom large-margin-top ">Hay <%= @articles.count %> artículos en total</h2>
<%else%>	
	No se encontraron artículos
<%end%>

<div id="articles" class="row center center-md center-sm">
	<%= render @article %>
</div>

<%= will_paginate @articles %>