<% if @articles.any? %>
	<h2 class="center-text large-margin-bottom large-margin-top ">Hay <%= @articles.count %> artículos en total</h2>
<%else%>	
	No se encontraron artículos
<%end%>

	<div class="row center center-md center-sm">
		<%= render @article %>
	</div>

<%= will_paginate @articles %>

<script type="text/javascript">
	jQuery ->
	if $('.pagination').length
		$(window).scroll ->
			url = $('.pagination .next_page').attr('href')
			if url && $(window).scrollTop() > $(document).height() - $(window).height() - 50
				$('.pagination').text("Loading more articles")
				$.getScript(url)
		$(window).scroll()
</script>