<div class="row center-xs">
	<div class="col-xs-12 mega-padding white large-margin-bottom">
		<p class="subtitle">
			Crear artículo
		</p>
	</div>
	<div class="col-md-6 col-xs-12 mega-padding box-shadow small-border-radius white relative auto-height">
		<%= render "form" %>
	</div>	
</div>
