.tabGroup {
    width: 100%;
}
 
/* Configure the radio buttons to hide off screen */
.tabGroup > input[type="radio"] {
    position: absolute;
    display: none;
}
 
/* Configure maximum width of tabs and align to top */
.tabGroup > div.tablabels {
    display: block;
    float: left;
    vertical-align: top;
    width: 14%;
    max-width: 210px;
    position: fixed;
    z-index: 1;
}
 
/* Configure labels to look like tabs */
.tabGroup > div.tablabels > label {
    /* inline-block such that the label can be given dimensions */
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px 10px;
    background-color: #ddd;
    z-index:1;
}
 
/* Focused tabs need to be highlighted as such */
.tabGroup > input#rad1:focus ~ div.tablabels > label[for="rad1"],
.tabGroup > input#rad2:focus ~ div.tablabels > label[for="rad2"],
.tabGroup > input#rad3:focus ~ div.tablabels > label[for="rad3"] {
    border:1px dashed black;
}
 
/* Checked tabs must be white with the bottom border removed */
.tabGroup > input#rad1:checked ~ div.tablabels > label[for="rad1"],
.tabGroup > input#rad2:checked ~ div.tablabels > label[for="rad2"],
.tabGroup > input#rad3:checked ~ div.tablabels > label[for="rad3"] {
    background-color:white;
    font-weight: bold;
    border-right: 1px solid white;
    position:relative;
    z-index: 1;
}
 
.tabGroup > div.tabcontent {
    display: inline-block;
    height: auto;
}
 
/* The tab content must fill the widgets size and have a nice border */
.tabGroup > div.tabcontent > div {
    width:86%;
	position: absolute;
	right: 0;
	top: 0;
    display: none;
    background-color: white;
    padding: 40px 40px;
    height: auto;
    overflow: auto;
}
 
/* This matchs tabs displaying to thier associated radio inputs */
.tabGroup > .tab1:checked ~ div.tabcontent > .tab1,
.tabGroup > .tab2:checked ~ div.tabcontent > .tab2,
.tabGroup > .tab3:checked ~ div.tabcontent > .tab3 {
    display: inline-block;
}