            .loading-indicator-container{
                max-width: 1500px;
                z-index: 1001;
                top: 90px;
            }
            .loading-indicator{
                width: 60px;
                height: 60px;
                padding: 5px;
            }
            @media screen and (max-width: 1024px) {
                .loading-indicator-container{
                    top: 150px;
                }
                .loading-indicator{
                    width: 100px;
                    height: 100px;
                    padding: 10px;
                }
            }