
.header-index-background{
	background: rgba(51,51,51,0.5);
}
.mobile_header{
	display: none;
}
.toggle-header{
	display: none;
}
.mobile-logo{
	display: none;
}
.toggle-user{
	display: none;
}
header nav {
	z-index: 1000;
	position: fixed;
	background: #455A64;
	max-width: 1500px;
 	width: 100%;
	top: 0;
	-webkit-box-shadow: 0px 3px 7px -1px rgba(153,153,153,1);
	-moz-box-shadow: 0px 3px 7px -1px rgba(153,153,153,1);
	box-shadow: 0px 3px 7px -1px rgba(153,153,153,1);
}
.logo-container{
	margin-left: 7px;
}
.logo-container .logo{
	width: 65px;
	float: left;
	padding: 13px 13px;
    display: block;
}
.logo-container p{
	float: left;
	padding-top: 12px;
	margin-left: -5px;
	font-size: 28px;
}
header nav ul{
	list-style: none;
	float: right;
}
header nav ul li{
	display: block;
	float: left;
	position: relative;
}
header nav ul li a {
	color: #bdc3c7;
	font-size: 14px; 
	display: block;
	text-decoration: none;
	padding: 23px 24px;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#header-search{
	position: relative;
}
.header-search{
	height: 65px;
	padding-left: 15px;
	padding-right: 75px;
	background: #3e515a;
	color: white;
}
.header-search:focus{
	outline: none;
	background: #576a73;
}
.header-submit{
	background: none;
	position: absolute;
	right: 0;
	cursor: pointer;
	color: #bdc3c7;
	font-size: 18px;
	width: 72px;
	height: 65px;
}
header nav ul li a:hover{
	color: #fff;
} 
header nav ul li:hover .children-user{
	display: block;
	top: 65.4px;
} 
header nav ul li .children-user{
	display: none;
	background: #455A64;
	position: absolute;
	width: auto;
	right: 0; 
	z-index: 1000;
}
header nav ul li .children-user li {
	display: block;
	width: 100%;
	min-width: 140px;
	overflow: hidden;
}
header nav ul li .children-user div h2 {
	padding-top: 10px; 
}
header nav ul li .children-user div li a img {
	width: 250px;
	height: 250px;
	padding: 20px 20px;
	margin-top: -10px; 
} 
.user-icon{
	padding: 19px 20px;
	max-height: 65px;
	color: #bdc3c7;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.user-icon:hover{
	color: #fff !important;
}



@media screen and (max-width: 1024px) {
	.show-from-left{
		left: 0px !important;
	}
	.show-from-right{
		right: 0px !important;
	}
	.mobile-header{
		display: block;
		width: 100%;
		min-width: 300px;
		position: fixed;
		top: 0;
		z-index: 1000;
		background: #455A64;
	}
	.mobile-logo{
		width: 218px;
		display: block;
		height: 100px;
		position: relative;
		margin: 0px auto;
	}
	.mobile-logo img{
		width: 100px;
		height: 100%;
		padding: 15px 15px;
		display: block;
		float: left;
	}
	.mobile-logo p{
		font-size: 50px;
		float: left;
	}
	header nav{
		top: 100px;
		width: 80%;
		height: 100%;
		background: #455A64 !important;
		position: fixed;
		left: -100%;
		z-index: 999;
		overflow: auto;
		box-shadow: none;
	}
	header nav .logo-container{
		display: none;
	}
	header nav ul{
		float: none !important;
	}
	header nav ul li{
		float: none;
		position: relative;
	}
	header nav ul li:hover .children {
		display: none;
	}
	header nav ul li a{
		color: #fff;
		font-size: 40px;
		padding: 40px 40px;
	}
	#header-search{
		display: none;
	}
	.user-container{
		display: none;
	} 	
	header nav .logo{
		display: none;
	}
	.toggle-header{
	 	position: relative;
	  	float: left;
	  	display: block;
	  	padding: 50px 50px;
	  	input{
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    opacity: 0;
		    top: 0;
		    left: 0;
		    cursor: pointer;
		    &:checked{
		      + span{
		        	background: transparent;
		        	&:after{
		          		transform: rotate(45deg) translate(-8px, -6px);
		        	}	
		        	&:before{
		          		transform: rotate(-45deg) translate(-11px, 10px);
		        	}
		      	}
		    }
		}
		span {
		    position: absolute;
		    width: 50%;
		    height: 6px;
		    left: 25%;
		    background: #fff;
		    transition: all 0.2s;
		    	&:before, &:after {
		      		content: "";
		      		position: absolute;
		      		width: 100%;
		      		height: 6px;
		      		background: #fff;
		      		top: -12px;
		      		transition: all 0.3s;
		    	}
		    &:after {
		      	top: 12px;
		    }
	 	}
	}
	.toggle-user{
		padding: 26px 32.7px;
		position: absolute;
		display: block;
		top: 0;
		right: 0;
	}
	.toggle-user-icon{
		font-size: 26px !important; 
	}
	.header-user{
		top: 100px;
		width: 80%;
		height: 100%;
		right: -100%;
		background: #455A64;
		position: fixed;
		overflow: auto;
	}
	.header-user p {
		font-size: 40px;
		padding: 20px 0px;
		text-transform: uppercase;
	}
	.header-user img{
		width: 60%;
		-webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    -o-border-radius: 50%;
	    -ms-border-radius: 50%;
	    border-radius: 50%;
	    margin-bottom: 30px; 
	}
	.header-user ul li{
		list-style: none;
	}
	.header-user ul li a{
		color: #fff;
		font-size: 40px;
		display: block;
		padding: 40px 40px;
	}
}