.margin-from-header{
	margin-top: 65px !important;
}
.center{
	margin: 0px auto;
}
.left{
	float: left; 
}
.right{
	float: right; 
}
.no-repeat{
	background-repeat: no-repeat;
}
.small-margin-top{
	margin-top: 5px; 
}
.medium-margin-top{
	margin-top: 10px; 
}
.large-margin-top{
	margin-top: 15px; 
}
.small-margin-bottom{
	margin-bottom: 5px; 
}
.medium-margin-bottom{
	margin-bottom: 10px; 
}
.large-margin-bottom{
	margin-bottom: 15px; 
}
.small-margin-left{
	margin-left: 5px; 
}
.medium-margin-left{
	margin-left: 10px; 
}
.large-margin-left{
	margin-left: 15px; 
}
.small-margin-right{
	margin-right: 5px; 
}
.medium-margin-right{
	margin-right: 10px; 
}
.large-margin-right{
	margin-right: 15px; 
}
.small-padding-top{
	padding-top: 5px; 
}
.medium-padding-top{
	padding-top: 10px; 
}
.large-padding-top{
	padding-top: 15px; 
}
.small-padding-bottom{
	padding-bottom: 5px; 
}
.medium-padding-bottom{
	padding-bottom: 10px; 
}
.large-padding-bottom{
	padding-bottom: 15px; 
}
.small-padding-left{
	padding-left: 5px; 
}
.medium-padding-left{
	padding-left: 10px; 
}
.large-padding-left{
	padding-left: 15px; 
}
.big-padding-left{
	padding-left: 20px;
}
.small-padding-right{
	padding-right: 5px; 
}
.medium-padding-right{
	padding-right: 10px; 
}
.large-padding-right{
	padding-right: 15px; 
}
.big-padding-right{
	padding-right: 20px;
}
.blue{
	background: #3498db;
}
.dark-blue{
	background: #2980b9;
}
.red{
	background: red;
}
.red-flat{
	background: #c83232;
}
.pistache{
	background: #1abc9c;
}
.dark-pistache{
	background: #16a085;
}
.green{
	background: #2ecc71;
}
.dark-green{
	background: #27ae60;
}
.orange{
	background: #e67e22;
}
.dark-orange{
	background: #d35400;
}
.white{
	background: #fff;
}
.yellow{
	background: #f1c40f;
}
.small-btn{
	padding:5px 10px;
}
.btn{
	border: none;
	font-size: 14px;
	padding: 10px 20px;
	color: #fff; 
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;  
}
.btn:hover{
	opacity: 0.9; 
}
.btn:active{
	-webkit-filter: grayscale(30%);
}
.small-border-radius{
	border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 	
}
.medium-border-radius{
	border-radius: 6px; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 	
}
.large-border-radius{
	border-radius: 8px; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 	
}
.circle-border-radius{
	border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 	
}
.box-shadow{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
.lighter-font{
	font-weight: lighter; 
} 
.medium-font{
	font-weight: normal; 
}
.bold-font{
	font-weight: bold; 
}
.bolder-font{
	font-weight: bolder; 
}
.italic-font{
	font-style: italic;
}
.message{
	padding: 5px 10px;
}
.white-text{
	color: #fff;
}
.green-text{
	color: #2ecc71;
}
.dark-green-text{
	color: #27ae60;
}
.red-text{
	color: #d04343;
}
.darl-red-text{
	color: #c0392b;
}
.blue-text{
	color: #3498db;
}
.dark-blue-text{
	color: #2980b9;
}
.yellow-text{
	background: #f1c40f;
}
.orange-text{
	color: #e67e22;
}
.dark-orange-text{
	color: #d35400;
}
.small-text{
	font-size: 12px;
}
.medium-text{
	font-size: 14px;
}
.large-text{
	font-size: 16px;
}
.big-text{
	font-size: 18px !important;
}
.left-text{
	text-align: left;
}
.right-text{
	text-align: right;
}
.center-text{
	text-align: center;
}
.no-padding{
	padding: 0px 0px;
}
.display-none{
	display: none;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.uppercase{
	text-transform: uppercase;
}
.line-height{
	line-height: 1.0;
}
.letter-spacing{
	letter-spacing: 3px;
}
.list-none{
	list-style: none;
} 
.short-transition{
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.circle{
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.word-wrap{
	word-wrap: word-wrap;
}
.border-none{
	border: none; 
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.full{
	width: 100%;
}
.half{
	width: 50%;
}
.auto-width{
	width: auto;
}
.full-height{
	height: 100%;
}
.half-height{
	height: 50%;
}
.auto-height{
	height: auto;
}
.border-top{
	border-top: 1px solid #e2e2e2;
}
.border-bottom{
	border-bottom: 1px solid #e2e2e2;
}
.border-left{
	border-left: 1px solid #e2e2e2;
}
.border-right{
	border-right: 1px solid #e2e2e2;
}
.clear-both{
	clear: both;
}
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.fixed{
	position: fixed;
}
.pointer{
	cursor: pointer;
}