*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	 
}
#box-global{
    margin: 0px auto;
    position: relative;
    max-width: 1500px !important;
    word-wrap: break-word;
}
 body{
	background: #e9ebee; 
}
pre {
   	font-family: courier, monospace;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a{
	text-decoration: none;
	color:#3498db;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: grey;
    font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-size: 14px;
}
.loading-indicator-container{
    max-width: 1500px;
    top: 90px;
}
.loading-indicator{
    width: 60px;
    height: 60px;
    padding: 5px;
}
#alerts, #notices{
	z-index: 1;
}
.notice{
	color: #3c763d; 
	background-color: #dff0d8; 
	border: 1px solid #d6e9c6; 
	max-width: 1500px;
}
.alert{
	background-color: #f2dede; 
	border: 1px solid #ebccd1; 
	max-width: 1500px;
}
.loading-more img{
   width: 120px;
}
.cover{
    width: 100%;
    height: 180px;
}

@media screen and (max-width: 1024px) {
	.margin-from-header{
		margin-top: 60px !important;
	}
    .cover{
        height: 80px;
    }
}